@import "variables.scss";

body{
    margin: 0;
    padding-top: 81px;
    padding-bottom: 70px;
}

ul{
    list-style: none;
}

h1{
    color: $primary-color;
    font-family: $title-font;
}

p{
    font-family: $text-font;
}

a{
    display: inline-block;
    box-sizing: border-box;
    font-family: $text-font;
    text-decoration: none;
}

label{
    font-family: $text-font;
    color: $label-color;
}

.btn-primary{
    padding: 5px 10px;
    background: $btn-primary-background;
    color: $btn-primary-color;
    border-radius: 5px;
}

.center
{
    max-width: 1140px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    border-bottom: 2px solid $secundary-color;
    .logo{
        display: inline-flex;
        &_item{
            font-family: $title-font;
            font-size: 25px;
            font-weight: bold;
            &--span{
                color: $secundary-color;
            }
        }
    }
    .navigation{
        display: inline-flex;
        &__list{
            &--item{
                display: inline-block;
            }
        }
    }
    .buttons{
        a{
            margin: 10px;
        }
        .btn-cadastre{
            color: $primary-color;
            text-decoration: underline;
        }
        .btn-primary{
            -webkit-box-shadow: 0px 0px 10px 3px rgba(243,18,60,0.6); 
            box-shadow: 0px 0px 10px 3px rgba(243,18,60,0.6);
            transition: .3s;
        }
        .btn-primary:hover{
            -webkit-box-shadow: 0px 0px 5px 3px rgba(243,18,60,0.6); 
            box-shadow: 0px 0px 5px 3px rgba(243,18,60,0.6);
        }
    }
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $secundary-color;
    box-sizing: border-box;
    padding: 0 40px;
    border-top: 2px solid $primary-color;
    p{
        color: #fff;
    }
}