// Typography
$text-font: 'Roboto', sans-serif;
$title-font: 'Kalam', sans-serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #2d3037;
$secundary-color: #f3123c;


// Buttons
$btn-primary-color: #fff;
$btn-primary-background: $secundary-color;
