body {
  margin: 0;
  padding-top: 81px;
  padding-bottom: 70px;
}

ul {
  list-style: none;
}

h1 {
  color: #2d3037;
  font-family: "Kalam", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

label {
  font-family: "Roboto", sans-serif;
  color: #2d3037;
}

.btn-primary {
  padding: 5px 10px;
  background: #f3123c;
  color: #fff;
  border-radius: 5px;
}

.center {
  max-width: 1140px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  border-bottom: 2px solid #f3123c;
}
header .logo {
  display: inline-flex;
}
header .logo_item {
  font-family: "Kalam", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
header .logo_item--span {
  color: #f3123c;
}
header .navigation {
  display: inline-flex;
}
header .navigation__list--item {
  display: inline-block;
}
header .buttons a {
  margin: 10px;
}
header .buttons .btn-cadastre {
  color: #2d3037;
  text-decoration: underline;
}
header .buttons .btn-primary {
  box-shadow: 0px 0px 10px 3px rgba(243, 18, 60, 0.6);
  transition: 0.3s;
}
header .buttons .btn-primary:hover {
  box-shadow: 0px 0px 5px 3px rgba(243, 18, 60, 0.6);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f3123c;
  box-sizing: border-box;
  padding: 0 40px;
  border-top: 2px solid #2d3037;
}
footer p {
  color: #fff;
}
